* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  margin-top: 20px;
  height: 100px;
  background-color: #625b5b;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.column {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  column-gap: 1.5rem;
  text-align: center;

}
