<nav class="navBar">
  <div class="brand">
    <a href="">
      <h4>Cards</h4>
    </a>
  </div>
  <ul class="navLinks">
    <li><a href="">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="projects">PROJECTS</a></li>
  </ul>
  <ul class="icons">
    <li><a href="favourites"><img src="https://www.svgrepo.com/show/14970/heart.svg"></a></li>
    <li><a href="card"><img src="https://cdn-icons-png.flaticon.com/512/263/263142.png"></a></li>
  </ul>
  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
