/*ul{*/
/*  width: 0;*/
/*  height: 100%;*/
/*  justify-content: center;*/
/*  text-align: center;*/
/*}*/

.textbar {
  padding-top: 10px;
  height: 50px;
  background-color: #ecebeb;
  text-align: center;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
}
.slider{
  width: 70%;
  height: 20%;
  text-align: center;
  margin-bottom: 20px;

}



