.wrapper {
  display:block;
  position:relative;
  width:100%;
  height:100%;
  overflow: auto;
  background-color: #c4bdbd;
}
.column {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
  column-gap: 1.5rem;
  text-align: left;
  margin-right: 10px;
}

img {
  width: 40%;
  height: 65%;
}

